extends layout

block content
  #loginBlock
    h1 Welcome to #{title}
    != messages()
    h3 Login
    form(action="/", name="login", method="post")
      span.label Username:
      br
      input(type="text", name="username", placeholder="Case Sensitive", required)
      br
      span.label Password:
      br
      input(type="password", name="password", required)
      br
      input(type="submit", value="Login")
    br
    a(href="/register") Register
