doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="description", content="")
    link(rel="canonical", href="")
    link(rel="next", href="")
    meta(property="og:locale", content="sv_SE")
    meta(property="og:type", content="website")
    meta(property="og:title", content="User Management | Simple user managing for smaller gyms or clubs")
    meta(property="og:description", content="User manageing for smaller gyms or clubs, easy to use interface with the ability to keep track of your members online.")
    meta(property="og:url", content="")
    meta(property="og:site_name", content="User Management")
    meta(property="og:image", content="")
    link(rel='stylesheet', href='/stylesheets/indexStyle.css')
  body
    block content
    